<%- include('../sharedLayouds/head.ejs') %>
    </head>

    <body>
        <%- include('../sharedLayouds/nav.ejs') %>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <%- include('../sharedLayouds/foot.ejs') %>